.myDiv{
    color:mediumslateblue;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(185, 175, 240);
}

#myDiv2{
    color: blue;
    border: 2px dashed black;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 4px;
}

#myDiv2 p{
    padding: 20px;
}

.btn{
    background-color: white;
    border: 2px solid black;
    padding:10px;
    border-radius: 3px;
}

.reset{
    background-color: red;
    border: 2px solid black;
    padding:10px;
    border-radius: 3px;
}

#number{
    font-size: 18px; 
}

#shop{
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}