body {
    padding: 10px;
}

#master{
    box-shadow: none;
    text-shadow: none;
}

#center{
    text-align: center;
}

#goalOne{
    padding: 10px;
    background-color: rgb(231, 231, 231);
    transition-duration: 0.2s;
    font-size: 14px;
    border-radius: 4px;
}

#goalOne:hover{
    background-color: rgb(243, 243, 243);
}

#goalOne:focus{
    background-color: white;
}

#goalTwo{
    padding: 10px;
    transition-duration: 0.3s;
    background-color: white;
    color: rgb(0, 110, 255);
    border-width: 1px;
    border-color: rgb(0, 110, 255);
    border-radius: 4px;
}

#goalTwo:hover{
    background-color: rgb(0, 110, 255);
    
    color: white;
    
}

.myDiv{
    color:rgb(81, 57, 215);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(185, 175, 240);
    padding-top: 10px;
}


#myDiv2{
    color: rgb(0, 110, 255);
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 40px;
    max-width: 100%;
    text-align: center;
}

#myDiv2 p{
    padding: 20px;
}

.reset{
    background-color: rgb(234, 46, 46);
    border: 0.9px solid black;
    padding:10px;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.reset:hover{
    background-color: rgb(0, 0, 0);
    padding:10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#number{
    font-size: 18px; 
}

#shop{
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}

.buttonOne{
    border-radius: 4px;
    border-color: rgb(38, 74, 255);
    padding: 10px;
    border-width: 1px;
    background-color: white;
    color: rgb(38, 74, 255);
    transition-duration: 0.4s;
    padding-left: 15px;
    padding-right: 15px;
}

#main{
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    border-width: 0.75px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(81, 140, 81);
    border-color: rgb(81, 140, 81);
    transition-duration: 0.5s;
    position: relative;
}

#main:hover{
    background-color: rgb(81, 140, 81);
    color: white;
    cursor: pointer;
}

.buttonOne:hover{
    background-color: rgb(61, 93, 255);
    color: white;
    cursor: pointer;
}

span {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(0);
    position: absolute;
    opacity: 1;
  }
  .rippleAnimation {
      animation: ripple .4s linear;
  }
  
  @keyframes ripple {
    100% {
      transform: scale(1);
      opacity: 0;
    }
}