body {
    padding: 10px;
}

.myDiv{
    color:rgb(21, 0, 141);
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(185, 175, 240);
}

#main{
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    
}
#myDiv2{
    color: blue;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 40px;
    max-width: 90%;
    text-align: center;
}

#myDiv2 p{
    padding: 20px;
}

.reset{
    background-color: rgb(255, 81, 81);
    border: 2px solid black;
    padding:10px;
    border-radius: 3px;
}

#number{
    font-size: 18px; 
}

#shop{
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}